<h1>Lets create a Cryptid</h1>
<form method="POST" action="/cryptids">
    <label for="cryptidType">Type</label>
    <input type="text" name="type">
  
    <label for="cryptidName">Name</label>
    <input id="cryptidName" type="text" name="name">
  
    <input id="cryptidType" type="submit">

    <label for="cryptidEditType">Edit Type</label>
    <input type="text" name="editType">
  
    <label for="cryptidEditName">Name</label>
    <input id="cryptidEditName" type="text" name="editName">
  
    <input id="cryptidEditType" type="submit">
  </form>